.App {
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

.input-group {
  margin-left: 8%;
  padding-top: 1%;
}
.emp {
  margin-left: 8%;
  color: red;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.regb {
  color: red;
  font-family: Impact, sans-serif;
}
.hh {
  margin-left: 8%;
}

.list {
  margin-left: 7%;
  padding-top: 2%;
}
.button {
  margin: 3px;
}
.button1 {
  margin: 3px;
}
.button2 {
  margin: 3px;
}
.button3 {
  margin: 3px;
}

.loginb {
  margin-left: 1%;
  margin-top: 2%;
}

.img {
  height: 26%;
  width: 26%;
}
